#punchline {
  text-align: center;
  size: 2em;
  margin: 1em;
  display: none;
}
#setup{
  text-align: center;
  size: 2em;
  margin: 1em;
}
.buttons{
  text-align: center;
}
.title{
  color: white;
  text-align: center;
  margin: 0.2em;
  margin-top: 2.5%;
}
button {
  color: black;
  border-radius: 35px;
  border: solid;
  padding: 0.75em 1.5em;
  margin: 0.3em;
  margin-left: 0.05em;
  margin-right: 0.05em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(135, 161, 255);
  cursor: pointer;
}
/* darken button when hovered over */
button:hover {
  background-color: rgb(110, 126, 199);
}

h1{
  margin: 0.5em;
}

h3{
  margin: 1em;
}

ul{
  list-style-type: none;
  margin-top: 2em;

}

li{
  border-bottom-style: none;
  margin: 0.1em;
  display: inline;
  padding: 0.4em;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}

p{
  margin: 0;
}

#joke-card{
  background-color: #ff7cc2;
  border-style: solid;
  border-color: black;
  width: 50%;
  margin-left: 25%;
  display: none;

}

main {
  font-size: 2em;
  margin: 0;
}

html {
  /* To make use of full height of page*/
  height: 100%;
  margin: 0;
}

body{
  font-family: Verdana;
  text-align: center;
  background-image: linear-gradient(to bottom right, black 35%, purple, #ff0086,blue, black 65%);
  margin: 0;
}



