<header>
    <ul>
        <li onclick="type0()" id="type0">Type 1: General</li>
        <li onclick="type1()" id="type1">Type 2: Programming</li>
        <li onclick="type2()" id="type2">Type 3: Knock Knock</li>
    </ul>
</header>