<header>
    <ul>
        <li onclick="typeGeneral()" id="typeGeneral">Type 1: General</li>
        <li onclick="typeProgramming()" id="typeProgramming">Type 2: Programming</li>
        <li onclick="typeKnockKnock()" id="typeKnockKnock">Type 3: Knock Knock</li>
    </ul>
</header>