<navbar>
    <button id="btn-type1" onclick="type0()">Change To Type 1</button>
    <button id="btn-type2" onclick="type1()">Change To Type 2</button>
    <button id="btn-type3" onclick="type2()">Change To Type 3</button>
</navbar>