<!DOCTYPE html>
<html>
<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body onload="fade()">
    <%- include ('partials/header') %>
    <main>
        <h1 class="title">Tell Me A Joke</h1>
        <div id="joke-card">
            <%- include ('partials/joke-card') %>
        </div>
        <button onclick="revealJoke()">Reveal Punchline</button>
        <button onclick="nextJoke()">Next Joke</button>

    </main>
    <footer>
        <p>Created by Kyran Lewis</p>
    </footer>
    <script>
        // by default set joke type to general
        document.getElementById(`typeGeneral`).style.color = "#ff0086";
        document.getElementById("typeGeneral").style.borderBottomStyle = "solid";

        jokeType = 0

        // when general tab is clicked
        function typeGeneral(){
            $( "#joke-card" ).load( "/general" );
            jokeType = 0
            // for fade in effect hide the whole joke card so it can reappear
            document.getElementById("joke-card").style.display = "none";
            // hide punchline
            document.getElementById("punchline").style.display = "none";
            // change colour of the text
            document.getElementById("typeGeneral").style.color = "#ff0086";
            document.getElementById("typeProgramming").style.color = "white";
            document.getElementById("typeKnockKnock").style.color = "white";
            // highlight with tab style
            document.getElementById("typeGeneral").style.borderBottomStyle = "solid";
            document.getElementById("typeProgramming").style.borderBottomStyle = "none";
            document.getElementById("typeKnockKnock").style.borderBottomStyle = "none";

            fade()
        }
        
        // when programming tab is clicked
        function typeProgramming(){
            $( "#joke-card" ).load( "/programming" );
            jokeType = 1
            // for fade in effect hide the whole joke card so it can reappear
            document.getElementById("joke-card").style.display = "none";
            // hide punchline
            document.getElementById("punchline").style.display = "none";
            // change colour of the text
            document.getElementById("typeProgramming").style.color = "#ff0086";
            document.getElementById("typeGeneral").style.color = "white";
            document.getElementById("typeKnockKnock").style.color = "white";
            // highlight with tab style
            document.getElementById("typeGeneral").style.borderBottomStyle = "none";
            document.getElementById("typeProgramming").style.borderBottomStyle = "solid";
            document.getElementById("typeKnockKnock").style.borderBottomStyle = "none";
            fade()
        }

        // when knock knock tab is clicked
        function typeKnockKnock(){
            $( "#joke-card" ).load( "/knock-knock" );
            jokeType = 2
            // for fade in effect hide the whole joke card so it can reappear
            document.getElementById("joke-card").style.display = "none";
            // hide punchline
            document.getElementById("punchline").style.display = "none";
            // change colour of the text
            document.getElementById("typeKnockKnock").style.color = "#ff0086";
            document.getElementById("typeProgramming").style.color = "white";
            document.getElementById("typeGeneral").style.color = "white";
            // highlight with tab style
            document.getElementById("typeGeneral").style.borderBottomStyle = "none";
            document.getElementById("typeProgramming").style.borderBottomStyle = "none";
            document.getElementById("typeKnockKnock").style.borderBottomStyle = "solid";
            fade()
        }

        // when next joke button is clicked
        function nextJoke(){
            document.getElementById("joke-card").style.display = "none";
            // depending of the type selected load another joke
            if (jokeType === 0){
                $("#joke-card").load( "/general" );
            }
            else if (jokeType === 1){
                $("#joke-card").load( "/programming" );
            }
            else{
                $("#joke-card").load( "/knock-knock" );
            }
            fade()
        }
        
        // when reveal button is clicked
        function revealJoke() {
            // slide down animation for joke reveal
            $('#punchline').slideDown(1000)
            document.getElementById("punchline").style.display = "block";
        }

        // fade in animation
        function fade(){
            $("#joke-card").fadeIn("slow");
        }
    </script>

</body>
</html>